.container {
  min-width: 350px;
  max-width: 500px;
  padding: 20px;

  .description {
    margin-bottom: 20px;
  }

  .buttons {
    text-align: right;
    font-size: 16px bold;
    border-radius: 50%;
    padding: 10px;

    button {
        margin-left: 10px;
    }
  }
  
  .si{
     background-color: #673AB7;
     color: white;
  }

}    